.template_contentPopup{
  background-color:#fff;
  margin:20px;
  padding:20px;
}
#options-custom-style-status{
  color:red;
  font-weight:800;
}
.linterror{
  color:red;
}
.lintwarning{
  color:orange;
}
.lintokay{
  color:green;
}
.editStyle{
  cursor:pointer;
}
.deleteStyle{
  cursor:pointer;
}
#template_content > div{
  display:none;
}
