<li class="separator acl-write"></li>
<li id="template_contents" class="acl-write">
    <select id="template_content-selection">
        <option value="dummy" selected data-l10n-id="ep_template_contents.style">Templates</option>
        <option value="0" data-l10n-id="ep_template_contents.contact">Contact Information</option>
        <option value="1" data-l10n-id="ep_template_contents.cat">Favorite Cat</option>
    </select>
</li>
