<div id="template_content" class="popup template_contentPopup">

  <div id="template_content_0">
    <h3>Contact information</h3>
    <label for="template_content_name">Name</label>
    <input type="text" id="template_content_name">
    <p><label for="template_content_address">Address</label></p>
    <textarea rows=4 id="template_content_address" style="width:100%" placeholder="148 Boulder Creek"></textarea>
  </div>

  <div id="template_content_1">
    <h3>Favorite Cat color</h3>
    <label for="template_content_cat">Favorite cat color</label>
    <input type="text" id="template_content_cat">
  </div>

  <p>
    <button id="template_content-save" data-l10n-id="ep_template_contents.save">Save</button>
    <button id="template_content-cancel" data-l10n-id="ep_template_contents.cancel">Cancel</button>
    <p id="template_content-status"></p>
  </p>


</div>

